@model RegisterModel
<h2 style="color: white ; font-family: fantasy ; text-align: center">Register</h2>
@using (Html.BeginForm("RegisterUserToDatabase", "Register", FormMethod.Post))
{
    <input asp-for="UserID" type="hidden" value="" />

    <label asp-for="EmailID" class="control-label" style="color:whitesmoke">Email</label>
    <input type="text" name="EmailID" class="form-control" value=""/>

    <label asp-for="Password" class="control-label" style="color:whitesmoke">Password</label>
    <input type="password" name="Password" class="form-control" value=""/>

    <div class="form-group">
    </div>
    <div style="text-align:center;">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
}