<h1 style="color: inherit ; font-family: fantasy ; text-align: center">Terms of Service</h1>
<p style="color:inherit ; text-align: center">Pong</p>

<!DOCTYPE html>
<html>
<body>

    <div style="text-align: center">
        <iframe width="420" height="345" src="https://www.youtube.com/embed/Cu6wlaaf-ck">
        </iframe>
    </div>

</body>
</html>