<h3 style="color:whitesmoke">Why should I register?</h3>

<p></p>
<p style="color:whitesmoke">Creating an account with us allows you to favorite and save movies to a watchlist. </p>
<p style="color:whitesmoke">We will occasionally throw you recommendations based off what you have favorited and what exists in your watchlist!</p>
<p style="color:whitesmoke">You'll never run out of anything to watch!</p>