@model IEnumerable<MovieModel>

<div class="text-center">
    <h1 class="display-4">Search For A Movie</h1>

    <form action="https://freecatphotoapp.com/submit-cat-photo">
        <input type="text" placeholder="type here" required>
        <button type="submit">Submit</button>
        @*<input id="SearchBox" type="text" name="value" />
        <input id="submit" type="submit" name="Search" />*@
    </form>

</div>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Poster</th>
    </tr>

</table>